__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.gitignore
.mypy_cache
.pytest_cache
.hypothesis
.http
.azuredevops
requirements.txt

.venv
.make

*.env
*.yaml
*.yml

*.md
*.properties

bin
changes
docs
gateway
scripts
tests
wiremock

*/**/__pycache__
